*{
    margin:0;
    padding:0;
    font-family:'Times New Roman', Times, serif;
  }
  #sw1{
    width:100%;
    height:100vh;
    background-image: url("sandw.gif");
    background-size: cover;
    min-height: 860px;
  
  }
  #sw2{
    width:100%;
    height:100vh;
    background-image: url("sandw2.gif");
    background-size: cover;
    min-height: 860px;
  
  }
  #sw3{
    width:100%;
    height:100vh;
    background-image: url("sandw3.gif");
    background-size: cover;
    min-height: 860px;
  
  }
  #sw4{
    width:100%;
    height:100vh;
    background-image: url("sandw4.png");
    background-size: cover;
    min-height: 860px;
  
  }
  #sw5{
    width:100%;
    height:100vh;
    background-image: url("sandw5.gif");
    background-size: cover;
    min-height: 860px;
  
  }
  #sw6{
    width:100%;
    height:100vh;
    background-image: url("sandw6.png");
    background-size: cover;
    min-height: 860px;
  
  }
  nav{
    width: 100%;
    height: 50px;
    background-color: rgb(6, 6, 6);
    line-height: 50px;
    position: fixed;
    top: 0;
  }
  nav ul{
    float: left;
    margin-left: 100px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
  
  nav ul li:hover{
    background-color:rgb(92, 92, 92);
  }
  nav ul li a{
    text-decoration: none;
    padding: 60px 70px;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
  
  }